@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 1;
}

body {
  background-color: rgba(229, 209, 236, 0.1);
  height: 100%;
  overflow: hidden;
}

.navbar-container {
  /* background-color: green; */
  display: flex;
  align-items: center !important;
  justify-content: space-between;
  /* top | right | bottom | left */
  margin: 60px 95px 75px 74px;
}

.title-text {
  background-color: #691a3f;
  color: whitesmoke;
  padding: 9px 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  /* border-radius: 10px; */
  animation: all 0.4s;
  transition: all 0.3s;
  letter-spacing: 1.5px;
}

/* Letters spacing out on hover */
.title-text:hover {
  letter-spacing: 3px;
  transition: all 0.3s;
}

.nav-link {
  animation: all 0.4s;
  transition: all 0.3s;
  letter-spacing: 0.8px;
}

.nav-link:hover {
  letter-spacing: 3px;
  transition: all 0.3s;
}
/* END OF - Letters spacing out on hover */

.nav-link {
  color: #691a3f;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  /* font-size: 24px; */
}

.nav-link:visited,
.nav-link:link,
a {
  text-decoration: none;
}

.nav-links-container {
  display: flex;
  justify-content: space-between;
  gap: 90px;
  /* background-color: whitesmoke; */
  /* background-color: rg b(248, 239, 239); */
  margin: 15px 35px;
  /* border-radius: 10px; */
}

/* #################### UNDERLINE ANIMATION #################### */
.nav-links-container a {
  font-size: 20px;
  color: #584e4a;
  position: relative;
  /* text-transform: uppercase; */
  text-decoration: none;
  padding-bottom: 8px;
}

.nav-links-container a:before,
.nav-links-container a:after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #691a3f;
}
.nav-links-container a:before {
  opacity: 0;
  transform: translateY(-8px);
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
}
.nav-links-container a:after {
  opacity: 0;
  transform: translateY(4px);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0.2s;
}
.nav-links-container a:hover:before,
.nav-links-container a:hover:after,
.nav-links-container a:focus:before,
.nav-links-container a:focus:after {
  opacity: 1;
  transform: translateY(0);
}
.nav-links-container a:hover:before,
.nav-links-container a:focus:before {
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0.2s;
}
.nav-links-container a:hover:after,
.nav-links-container a:focus:after {
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0s 0.2s;
}

/* #################### END OF NAVIGATION #################### */

.entire-grid-container {
  margin-top: 200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  /* background-image: url("img/background-for-parallax.png"); */
}

.heading-main-picture {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  margin: 0px 200px 0px 158px;
}

.top-image {
  width: 900px;
  position: absolute;
  left: 900px;
  top: 180px;
  z-index: 1;
}

#welcome-texts {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 600;
  line-height: 110%;
}

.first-line {
  font-size: 170px;
  width: fit-content;
  color: white;
  background-color: #691a3f;
  padding: 8px 13px 13px 13px;
  z-index: -1;
  position: relative;
  margin-bottom: 15px;
}

.second-line {
  font-size: 55px;
}

.fa-brands {
  font-size: 1.8em;
  color: beige;
  /* background-color: #4a132d; */
}

.icons-line {
  margin: 15px 0;
  padding: 15px;
  display: flex;
  align-items: center;
  max-width: 25vw;
  min-width: 360px;
  justify-content: space-between;
  background-color: #4a132d;
}

/*
.heading-container {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 600;
  line-height: 150%;
}

.description {
  margin-top: 55px;
  margin-right: 70px;
  font-family: "Poppins", sans-serif;
}

.first-line {
  font-size: 170px;
  width: fit-content;
  color: white;
  background-color: #691a3f;
  padding: 8px 13px 13px 13px;
  position: absolute;
  bottom: 400px;
  left: 160px;
  z-index: -1;
}

.second-line {
  justify-content: flex-start;
  font-size: 60px;
  color: #4a132d;
  position: relative;
}

.third-line {
  font-size: 45px;
  color: #3c1025;
}

.secondary-container {
  justify-content: space-between;
  margin: 0px 100px 0px 100px;
  display: flex;
} */

.placeholder-section {
  background-color: #fcfafd;
  grid-column: 1 / -1;
  grid-row: 3 / -1;
}

/* TABLETS */
@media (min-width: 767px) and (max-width: 1444px) {
  /* nav,
  nav *,
  .entire-grid-container *,
  .navbar-container,
  .entire-grid-container,
  .responsive-container-phone {
    display: none;
  } */
  .responsive-container-phone,
  .placeholder-section {
    display: none;
  }
  .top-image {
    display: none;
  }
  .nav-links-container {
    gap: 55px;
  }
  body {
    overflow: auto;
  }
  .entire-grid-container {
    margin-top: 100px;
    grid-template-rows: repeat(2, 1fr);
  }
  .first-line {
    font-size: 110px;
  }
  .navbar-container {
    /* top | right | bottom | left */
    margin: 40px 50px 85px 65px;
  }
}

/* PHONES */
@media screen and (max-width: 767px) {
  nav,
  nav *,
  .entire-grid-container *,
  .navbar-container,
  .entire-grid-container,
  .responsive-container-tablet {
    display: none;
  }

  .mobile-pages-bar * {
    color: #691a3f;
  }

  .mobile-pages-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.25rem 1.5rem 1.5rem 1.5rem;
    padding: 1rem 1.65rem 1rem 0.8rem;
    /* background-color: rgba(74, 19, 45, 0.8); */
    /* background-color: rgb(105, 26, 63); */
    border-bottom: rgb(105, 26, 63) 3px solid;

    border-radius: 5px;
  }
  .mobile-nav-link {
    font-size: 24px;
  }
  .mobile-new-release {
    margin: 10rem 0 0 2rem;
  }
  .mobile-icons-line {
    display: flex;
    gap: 1rem;
    margin: 2rem 0.2rem 0.5rem 0rem;
  }

  .fa-brands {
    color: black;
  }

  .nav-home {
    background-color: #691a3f;
    color: whitesmoke;
    /* color: #691a3f; */
    /* padding: 8px 13px 13px 13px; */
    font-size: 19px;
    padding: 9px 20px;
    font-family: "Lexend Deca", sans-serif;
    /* font-family: "Poppins", sans-serif; */
    border-radius: 16px;
    /* margin-left: 0; */
  }

  #testing1 {
    display: inline;
    font-size: 40px;
    padding: 0;
    background-color: rgb(105, 26, 63);
    color: whitesmoke;
    padding: 8px 13px 13px 13px;
    font-family: "Lexend Deca", sans-serif;
  }

  .mobile-album-title {
    font-family: "Lexend Deca", sans-serif;
  }

  .mobile-rihanna-image {
    /* position: absolute; */
    /* position: 50px 50px; */
    width: 80vw;
    position: fixed;
    bottom: 0px;
    left: 10%;
  }
}
