@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* font-family: "Poppins", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
/* font-family: "Lexend Deca", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
/* font-family: 'Rubik', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/* font-family: 'Montserrat', sans-serif; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(229, 209, 236, 0.1);
}

.navbar-container {
  /* background-color: green; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* top | right | bottom | left */
  margin: 60px 95px 75px 74px;
}

.title-text {
  background-color: #691a3f;
  color: whitesmoke;
  padding: 9px 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  /* border-radius: 10px; */
  animation: all 0.4s;
  transition: all 0.3s;
  letter-spacing: 1.5px;
}

/* Letters spacing out on hover */
.title-text:hover {
  letter-spacing: 3px;
  transition: all 0.3s;
}

.nav-link {
  animation: all 0.4s;
  transition: all 0.3s;
  letter-spacing: 0.8px;
}

.nav-link:hover {
  letter-spacing: 3px;
  transition: all 0.3s;
}
/* END OF - Letters spacing out on hover */

.nav-link {
  color: #691a3f;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.nav-link:visited,
.nav-link:link,
a {
  text-decoration: none;
}

.nav-links-container {
  display: flex;
  justify-content: space-between;
  gap: 90px;
  /* background-color: whitesmoke; */
  /* background-color: rg b(248, 239, 239); */
  margin: 15px 35px;
  /* border-radius: 10px; */
}

/* #################### UNDERLINE ANIMATION #################### */
.nav-links-container a {
  font-size: 20px;
  color: #584e4a;
  position: relative;
  /* text-transform: uppercase; */
  text-decoration: none;
  padding-bottom: 8px;
}

.nav-links-container a:before,
.nav-links-container a:after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #691a3f;
}
.nav-links-container a:before {
  opacity: 0;
  transform: translateY(-8px);
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
}
.nav-links-container a:after {
  opacity: 0;
  transform: translateY(4px);
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0.2s;
}
.nav-links-container a:hover:before,
.nav-links-container a:hover:after,
.nav-links-container a:focus:before,
.nav-links-container a:focus:after {
  opacity: 1;
  transform: translateY(0);
}
.nav-links-container a:hover:before,
.nav-links-container a:focus:before {
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0.2s;
}
.nav-links-container a:hover:after,
.nav-links-container a:focus:after {
  transition: transform 0s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0s 0.2s;
}
/* #################### END OF NAVIGATION #################### */

.main-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 3rem;
  justify-items: center;
  margin-bottom: 4rem;
}

.heading {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: 900px;
  margin: 1rem 0 7rem 5rem;
  letter-spacing: 2px;
  animation: all 0.5s;
  transition: all 0.5s;
}

.heading::after {
  content: "";
  display: block;
  /* width: 200px; */
  width: 100%;
  height: 7px;
  background-color: #691a3f;
  margin: 8px 0;
}

.heading:hover {
  letter-spacing: 4px;
  transition: all 0.5;
}

.header-featured {
  grid-column: 1 / -1;
}

.product img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

h2 {
  width: 350px;
  font-family: "Lexend Deca", sans-serif;
  letter-spacing: 1px;
}
.price {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 17px;
  color: white;
  background-color: #691a3f;
  width: fit-content;
  padding: 5px 9px;
  margin: 2px 0;
}
.product-colors {
  display: flex;
  gap: 10px;
}

.price-colours {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  width: 400px;
}

/* #################### COLOURS #################### */
.color {
  background-color: #000;
  height: 22px;
  width: 22px;
}
/* 
.color-#f6efe8
.color-#f48ca1
.color-#d36359
.color-#d8ac90
.color-#da9985
.color-#c76e64
.color-#b16774
.color-#c27b6d
.color-#9b644f
.color-#814f6a */

.first-product-colors :nth-child(1) {
  background-color: #f6efe8;
}
.first-product-colors :nth-child(2) {
  background-color: #f48ca1;
}
.first-product-colors :nth-child(3) {
  background-color: #d36359;
}
.first-product-colors :nth-child(4) {
  background-color: #d8ac90;
}
.first-product-colors :nth-child(5) {
  background-color: #da9985;
}
.first-product-colors :nth-child(6) {
  background-color: #c76e64;
}
.first-product-colors :nth-child(7) {
  background-color: #b16774;
}
.first-product-colors :nth-child(8) {
  background-color: #c27b6d;
}
.first-product-colors :nth-child(9) {
  background-color: #9b644f;
}
.first-product-colors :nth-child(10) {
  background-color: #814f6a;
}

.second-product-colors :nth-child(1) {
  background-color: #d68a40;
}
.second-product-colors :nth-child(2) {
  background-color: #db9083;
}
.second-product-colors :nth-child(3) {
  background-color: #9b6060;
}
.second-product-colors :nth-child(4) {
  background-color: #d77fa3;
}
.second-product-colors :nth-child(5) {
  background-color: #cc5876;
}
.second-product-colors :nth-child(6) {
  background-color: #cc5c5e;
}
.second-product-colors :nth-child(7) {
  background-color: #c2312a;
}
.second-product-colors :nth-child(8) {
  background-color: #a64f5a;
}
.second-product-colors :nth-child(9) {
  background-color: #8f5039;
}

button {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid #691a3f;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: rgb(105, 26, 63);
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

button:hover {
  background: rgba(105, 26, 63, 0.3);
  box-shadow: 0 0 30px 5px rgba(105, 26, 63, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

button::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}

.product a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-row {
  display: flex;
  height: 590px;
}

.second-row img,
.second-row div {
  flex: 1;
  object-fit: cover;
}
.second-row .second-row img {
  width: 33.33%;
  height: 100%;
}

.second-row-text-container {
  background-color: #f9f7ee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Brown", sans-serif;
  width: 60%;
}

.second-row-text-container * {
  margin-bottom: 30px;
}

.text-heading {
  margin-top: 35px;
  font-family: "Brown", sans-serif;
  letter-spacing: 0.2em;
  font-size: 25px;
  font-weight: 400;
}

.text-description {
  font-size: 15px;
  letter-spacing: 0.5px;
  width: 70%;
  font-weight: 300;
  margin-bottom: 30px;
  line-height: 1.2;
}

.top-image {
  object-position: top;
}
