@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* font-family: "Poppins", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
/* font-family: "Lexend Deca", sans-serif; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a:visited,
a {
  text-decoration: none;
}

.mobile-pages-bar * {
  color: #691a3f;
}

.mobile-pages-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.25rem 1.5rem 1.5rem 1.5rem;
  padding: 1rem 1.65rem 1rem 1.5rem;
  /* background-color: rgba(74, 19, 45, 0.8); */
  /* background-color: rgb(105, 26, 63); */
  border-bottom: rgb(105, 26, 63) 3px solid;

  border-radius: 5px;
}
.mobile-nav-link {
  font-size: 24px;
}
.mobile-new-release {
  margin: 10rem 0 0 2rem;
}
.mobile-icons-line {
  display: flex;
  gap: 1rem;
  margin: 2rem 0.2rem 0.5rem 0rem;
}

.fa-brands {
  color: black;
}

.nav-home {
  background-color: #691a3f;
  color: whitesmoke;
  /* color: #691a3f; */
  /* padding: 8px 13px 13px 13px; */
  font-size: 19px;
  padding: 9px 20px;
  font-family: "Lexend Deca", sans-serif;
  /* font-family: "Poppins", sans-serif; */
  border-radius: 16px;
  /* margin-left: 0; */
}

.heading-mobile h1 {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  margin: 2rem 0 0 2rem;
}
.heading-mobile h1 span {
  color: #691a3f;
}

.small-embeds-container {
  margin: 2rem 2.5rem 0 2.5rem;
}
