@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fef5ef;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Change this value for height */
  min-height: 8vh;
  /* Change this value for colour of entire navbar */
  background-color: #b86c77;
  font-family: "Playfair Display", serif;
}

.rihanna-text {
  color: white;
  cursor: pointer;
  font-size: 27px;
  /* Change this value for the distance of the text from the left side */
  padding-left: 5vh;
  font-weight: 400;
}

.rihanna-text:hover {
  color: rgb(253, 210, 210);
}

.nav-links {
  display: flex;
  background-color: #b86c77;
  justify-content: space-between;
  margin-right: 30px;
  /* Change this value for space between the elements on the right of the navbar */
  width: 35%;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.nav-links li {
  list-style: none;
}

.big-track-embeds-container {
  /* display: inline-block; */
  /* justify-content: space-around;
  flex-wrap: wrap; */
  float: right;
  padding-right: 100px;
}

.small-track-embeds-container {
  padding-top: 50px;
  padding-left: 50px;
}

.first-music-embed {
  padding-top: 50px;
}

/* select every big spotify embed */
.first-music-embed,
.second-music-embed,
.third-music-embed,
.fourth-music-embed {
  /* padding-top: 50px; */
  border-color: darksalmon;
}

.first-small-music-embed,
.second-small-music-embed,
.third-small-music-embed,
.fourth-small-music-embed {
  padding-left: 20px;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

.popular-title {
  font-family: "Playfair Display", serif;
  padding-left: 45px;
  padding-top: 50px;
  color: #9d5c63;
}
