@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/* font-family: "Poppins", sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
/* font-family: "Lexend Deca", sans-serif; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(229, 209, 236, 0.1);
}

.navbar-container {
  /* background-color: green; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* top | right | bottom | left */
  margin: 60px 95px 75px 74px;
}

.title-text {
  background-color: #691a3f;
  color: whitesmoke;
  padding: 9px 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  /* border-radius: 10px; */
}

.nav-link {
  color: #691a3f;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

.nav-link:visited,
.nav-link:link,
a {
  text-decoration: none;
}

.nav-links-container {
  display: flex;
  justify-content: space-between;
  gap: 90px;
  /* background-color: whitesmoke; */
  /* background-color: rg b(248, 239, 239); */
  margin: 15px 35px;
  /* border-radius: 10px; */
}

/* #################### END OF NAVIGATION #################### */

.main-container {
  display: grid;
  grid-template-columns: 1fr 65%;
  /* margin: 0 4rem; */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 0 2rem;
  row-gap: 1rem;
}
